<!DOCTYPE html>
<h2>Add a New Question</h2>

<% if @question.errors.any? %>
  <ul>
    <% @question.errors.full_messages.each do |msg| %>
    <li> <%= msg %> </li>
    <% end %>
  </ul>
<% end %>

<%= form_for @question do |f| %>

	<div><%= label_tag(:q, "Question Title:") %>
	<%= f.text_field(:title) %></div>
	<div><%= label_tag(:q, "Question Detail: ") %>
	<%= f.text_area(:description, size: "60x12") %></div>

	<div><%= f.submit "Post" %></div>
<% end %>