<!DOCTYPE html>

<h1><%= @question.title %></h1>
<div>
	<p><%= @question.description %></p>
</div>

<% if @answer.errors.any? %>
	<ul>
  	<% @answer.errors.full_messages.each do |msg| %>
  	<li> <%= msg %> </li>
 	 <% end %>
	</ul>
<% end %>

<%= form_for [@question, @answer] do |f| %>
	<div>
		<%= f.hidden_field :question_id, :value => @question.id %>
		<%= f.hidden_field :user_id, :value => 1 %>
		<%= label_tag(:q,"Answer text: ") %>
		<%= f.text_area(:answer_text, size: "60x12") %>
	</div>
	<%= f.submit "Post Answer" %>
<% end %>

